* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.header{
    background-color: black;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: #03b0c1;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: #063d54;
    transition: 0.5s;
}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    
    display: none;
}

@media (max-width: 768px){
    .header {
        height: 60px;
    }
    
    .logo {
        font-size: 25px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: black;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        
        height: calc(100% - 60px);
        overflow-y: auto;
        
        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item {
        line-height: 70px;
    }
    
    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: aquamarine;
    }
    
    .nav-toggle {
        display: block;
    }
    
    .nav-menu_visible {
    left: 0;
    }
}




